[Unit]
Description=Jon Snow's blog.

[Service]
WorkingDirectory=/usr/local/lib/blog
ExecStart=/usr/local/bin/blog --config=/usr/local/etc/blog-config.toml
KillSignal=SIGINT
Restart=always

[Install]
WantedBy=multi-user.target
