<p><img src="/assets/images/night's watch.jpg"></p>

<br>

<h2>{{locstr "Profile"}}</h2>
<hr>

<p><b>{{locstr "Name"}}{{locstr ": "}}</b>{{locstr "Jon Snow"}}</p>
<p><b>{{locstr "Gender"}}{{locstr ": "}}</b>{{locstr "Male"}}</p>
<p><b>{{locstr "Birthdate"}}{{locstr ": "}}</b>{{locstr "283 AC"}}</p>
<p><b>{{locstr "Now"}}{{locstr ": "}}</b>{{locstr "The Real North"}}</p>
<p><b>{{locstr "Hobbies"}}{{locstr ": "}}</b>{{locstr "Ice"}}{{locstr ", "}}{{locstr "Fire"}}{{locstr ", "}}{{locstr "Dragon"}}</p>

<br>

<h2>{{locstr "Open Source Projects"}}</h2>
<hr>

<table>
	<tr>
		<th>{{locstr "Project Name"}}</th>
		<th>{{locstr "Project Description"}}</th>
	</tr>

	<tr>
		<td><a href="https://github.com/air-examples/blog">Blog</a></td>
		<td>{{locstr "Jon Snow's blog."}}</td>
	</tr>
</table>
