<p><img src="/assets/images/night's watch.jpg"></p>

<p><b>Name: </b>{{.Config.bio.name}}</p>
<p><b>Gender: </b>{{.Config.bio.gender}}</p>
<p><b>Birthdate: </b>{{.Config.bio.birthdate}}</p>
<p><b>Hobbies: </b>{{range $i, $v := .Config.bio.hobbies}}{{$v}}{{if (lt $i (sub (len $.Config.bio.hobbies) 1))}}, {{end}}{{end}}</p>
<p><b>Now: </b>{{.Config.bio.now}}</p>
<p><b>Open Sources: </b>{{range $i, $v := .Config.bio.open_source_names}}<a href="{{index $.Config.bio.open_source_urls $i}}">{{$v}}</a>{{if (lt $i (sub (len $.Config.bio.open_source_names) 1))}}, {{end}}{{end}}</p>
