<p><img src="/assets/images/night's watch.jpg"></p>

<p><b>{{locstr "Name"}}{{locstr ": "}}</b>{{locstr "Jon Snow"}}</p>
<p><b>{{locstr "Gender"}}{{locstr ": "}}</b>{{locstr "Male"}}</p>
<p><b>{{locstr "Birthdate"}}{{locstr ": "}}</b>{{locstr "283 AC"}}</p>
<p><b>{{locstr "Hobbies"}}{{locstr ": "}}</b>{{locstr "Ice"}}{{locstr ", "}}{{locstr "Fire"}}{{locstr ", "}}{{locstr "Dragon"}}
<p><b>{{locstr "Now"}}{{locstr ": "}}</b>{{locstr "Aunt's bed"}}</p>
<p><b>{{locstr "Open Sources"}}{{locstr ": "}}</b><a href="https://github.com/air-examples/blog">Blog</a>
