<footer>
	<div class="wrapper">
		<ul>
			<li>{{locstr "Email"}}</li>
			<li>
				<a href="mailto:jon.snow@castle.black">
					<img class="icon" src="/assets/images/icons/envelope.svg"> jon.snow@castle.black
				</a>
			</li>
		</ul>

		<ul>
			<li>GitHub</li>
			<li>
				<a href="https://github.com/air-examples">
					<img class="icon" src="/assets/images/icons/github.svg"> air-examples
				</a>
			</li>
		</ul>

		<ul>
			<li>{{locstr "Subscribe"}}</li>
			<li>
				<a href="/feed">
					<img class="icon" src="/assets/images/icons/rss.svg"> via RSS
				</a>
			</li>
		</ul>
	</div>
</footer>
