<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">

	<title>{{with .PageTitle}}{{.}} - {{end}}{{locstr "Blog"}}</title>
	<meta name="description" content="{{locstr "Jon Snow's blog."}}">

	<link rel="canonical" href="https://jon.snow.castle.black{{.CanonicalPath}}">
	<link rel="shortcut icon" href="/assets/images/favicon.ico">
	<link rel="apple-touch-icon" href="/assets/images/apple-touch-icon.png">

	<link rel="stylesheet" href="/assets/css/main.css">
</head>
